{% extends 'static/static.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'stylesheets/browseall.css' %}">
{% endblock %}

{% block header %}
<header class="w3-display-container w3-content header-background" style="max-width:1500px;">
   <img src="{% static 'imgs/apt-background-scaled.png' %}" alt="Background Image" style="height: 50%; width: 100%;">
</header>
{% endblock %}

{% block content %}
<div class="w3-display-container w3-content header-background" style="max-width:1500px; transform: translate(0%, -50%)">
    <!-- Container for room listings -->
    <div id="aptContainer" class="w3-row-padding w3-padding-16">
        <!-- Room listings will be dynamically generated here -->
    </div>

    <script>
        var names = JSON.parse('{{ names|escapejs }}');
        var addresses = JSON.parse('{{ addresses|escapejs }}');
        var mins = JSON.parse('{{ mins|escapejs }}');
        var maxs = JSON.parse('{{ maxs|escapejs }}');
        var links = JSON.parse('{{ links|escapejs }}');
        var imgs = [
        "{% static 'imgs/apts/Sterling Crest.png'%}",
        "{% static 'imgs/apts/The Trails Apartments.png'%}",
        "{% static 'imgs/apts/Oak Chase.png'%}",
        "{% static 'imgs/apts/Parks at Treepoint.png'%}",
        "{% static 'imgs/apts/Kennington Apartments.png'%}",
        "{% static 'imgs/apts/Southpoint Villas.png'%}",
        "{% static 'imgs/apts/Town Arlington.png'%}",
        "{% static 'imgs/apts/Alta Landing.png'%}",
        "{% static 'imgs/apts/Falcon Lakes.png'%}",
        "{% static 'imgs/apts/Riverside Apartments.png'%}",
        "{% static 'imgs/apts/The Atlantic Mansfield.png'%}",
        "{% static 'imgs/apts/Villas di Lucca.png'%}",
        "{% static 'imgs/apts/Villaggio.png'%}",
        "{% static 'imgs/apts/Springs at Grand Prairie.png'%}",
        "{% static 'imgs/apts/Winding Creek at the Preserve.png'%}",
        "{% static 'imgs/apts/Parkways on Prairie Creek.png'%}",
        "{% static 'imgs/apts/Creekside at Grand Prairie.png'%}",
        "{% static 'imgs/apts/The Quadrangles on Twenty.png'%}",
        "{% static 'imgs/apts/Arioso.png'%}",
        "{% static 'imgs/apts/Indigo Pointe.png'%}",
        "{% static 'imgs/apts/Canvas at Grand Prairie.png'%}",
        "{% static 'imgs/apts/LynnCora.png'%}",
        "{% static 'imgs/apts/Matlock Flats.png'%}",
        "{% static 'imgs/apts/Bluebonnet Trail Townhomes.png'%}",
        "{% static 'imgs/apts/Parkland Pointe.png'%}",
        "{% static 'imgs/apts/Rush Creek.png'%}",
        "{% static 'imgs/apts/Wimbledon Oaks.png'%}",
        "{% static 'imgs/apts/The Mark at Arlington.png'%}",
        "{% static 'imgs/apts/Ranch Three0Five.png'%}",
        "{% static 'imgs/apts/Bardin Greene.png'%}",
        "{% static 'imgs/apts/Villas at Lake Arlington.png'%}",
        "{% static 'imgs/apts/Westley.png'%}",
        "{% static 'imgs/apts/Shady Valley Square.png'%}",
        "{% static 'imgs/apts/Woodland Park.png'%}",
        "{% static 'imgs/apts/TwentyOne15.png'%}",
        "{% static 'imgs/apts/Shadow Ridge.png'%}",
        "{% static 'imgs/apts/Parkwood Square.png'%}",
        "{% static 'imgs/apts/The Woodlands of Arlington.png'%}",
        "{% static 'imgs/apts/Bowen of Arlington Apartments.png'%}",
        "{% static 'imgs/apts/Flats at Brentwood.png'%}",
        "{% static 'imgs/apts/Ascend at Chisholm Trail.png'%}",
        "{% static 'imgs/apts/The Trails at Summer Creek.png'%}",
        "{% static 'imgs/apts/Cottages at Summer Creek.png'%}",
        "{% static 'imgs/apts/Tides on Westcreek.png'%}",
        "{% static 'imgs/apts/Sunset Pointe Apartments.png'%}",
        "{% static 'imgs/apts/Trinity Meadows Apartments.png'%}",
        "{% static 'imgs/apts/Hulen Gardens Apartments.png'%}",
        "{% static 'imgs/apts/Candle Chase.png'%}",
        "{% static 'imgs/apts/Chisholm at Tavolo Park.png'%}",
        "{% static 'imgs/apts/Cumberland on Granbury.png'%}",
        "{% static 'imgs/apts/Fort Worth Meadows Apartments.png'%}",
        "{% static 'imgs/apts/Park at Leblanc.png'%}",
        "{% static 'imgs/apts/Tides on Hulen.png'%}",
        "{% static 'imgs/apts/The Hub at Chisholm Trail.png'%}",
        "{% static 'imgs/apts/Mylo Apartment Homes.png'%}",
        "{% static 'imgs/apts/Southern Oaks.png'%}",
        "{% static 'imgs/apts/The Haven on Chisholm Trail.png'%}",
        "{% static 'imgs/apts/Chesapeake Apartments.png'%}",
        "{% static 'imgs/apts/Aviva Fort Worth.png'%}",
        "{% static 'imgs/apts/Windsong.png'%}",
        "{% static 'imgs/apts/Maxwell Apartments.png'%}",
        "{% static 'imgs/apts/The Chase Apartments.png'%}",
        "{% static 'imgs/apts/Lofton Place.png'%}",
        "{% static 'imgs/apts/Venue at 8651.png'%}",
        "{% static 'imgs/apts/Horizons at Sunridge.png'%}",
        "{% static 'imgs/apts/The Reese at Eastchase.png'%}",
        "{% static 'imgs/apts/Tides on Randol East.png'%}",
        "{% static 'imgs/apts/Tides at Eastchase.png'%}",
        "{% static 'imgs/apts/Tides on Randol West.png'%}",
        "{% static 'imgs/apts/Silverleaf Apartments.png'%}",
        "{% static 'imgs/apts/Tuscany Apartments.png'%}",
        "{% static 'imgs/apts/The Madeleine.png'%}",
        "{% static 'imgs/apts/Riverwalk TX.png'%}",
        "{% static 'imgs/apts/Steeplechase.png'%}"
        ];
    </script>

    <script src="{% static 'scripts/listingscript.js'%}"></script>
</div>
{% endblock %}

