{% extends 'static/static.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'stylesheets/browseall.css' %}">
{% endblock %}

{% block header %}
<header class="w3-display-container w3-content header-background" style="max-width:1500px;">
   <img src="{% static 'imgs/apt-background-scaled.png' %}" alt="Background Image" style="height: 50%; width: 100%;">
</header>
{% endblock %}

{% block content %}
<div class="w3-display-container w3-content header-background" style="max-width:1500px; transform: translate(0%, -50%)">
    <!-- Container for room listings -->
    <div id="aptContainer" class="w3-row-padding w3-padding-16">
        <!-- Room listings will be dynamically generated here -->
    </div>

    <script>
        var names = JSON.parse('{{ names|escapejs }}');
        var addresses = JSON.parse('{{ addresses|escapejs }}');
        var mins = JSON.parse('{{ mins|escapejs }}');
        var maxs = JSON.parse('{{ maxs|escapejs }}');
        var links = JSON.parse('{{ links|escapejs }}');
        var imgs = JSON.parse('{{ imgs|escapejs }}');
        var numbers = JSON.parse('{{ numbers|escapejs }}');
    </script>

    <script src="{% static 'scripts/listingscript.js'%}"></script>
</div>
{% endblock %}

