{% extends 'static/static.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'stylesheets/index.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
{% endblock %}

{% block header %}
<header class="w3-display-container w3-content header-background" style="max-width:1500px;">
    <!-- Your header content here -->
    <img src="{% static 'imgs/apt-background.png' %}" alt="Background Image">
    <div class="hybrid-display w3-padding w3-col l6 m8">
        <div class="w3-container logo">
            <img src="{% static 'imgs/logo.png' %}" alt="Background Image" width="95%" height="95%">
        </div>
        <div class="w3-container w3-blue">
            <h2><i class="fa fa-home w3-margin-right"></i>Find Apartment</h2>
        </div>
        <div class="w3-container w3-white w3-padding-16">
            <form action="{% url 'search_apts' %}" method="post">
                {% csrf_token %}
                <div class="w3-row-padding" style="margin:0 -16px;">
                    <div class="w3-half w3-margin-bottom">
                        <label><i class="fa fa-money"></i> Monthly Minimum</label>
                        <input class="w3-input w3-border" type="number" placeholder="500" name="Rent" min="500">
                    </div>
                    <div class="w3-half">
                        <label><i class="fa fa-truck"></i> Zip Code</label>
                        <input class="w3-input w3-border" type="text" placeholder="76010" name="ZipCode">
                    </div>
                </div>
                <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search w3-margin-right"></i> Search</button>
            </form>            
        </div>
    </div>    
</header>
{% endblock %}

{% block content %}
<div id="mapid" style="height: 400px;"></div>

<script>
    var namesData = JSON.parse('{{ names|escapejs }}');
    var addressData = JSON.parse('{{ address|escapejs }}');
    var coordsData = JSON.parse('{{ coords|escapejs }}');
</script>

<script src="{% static 'scripts/mapscript.js' %}"></script>
{% endblock %}

